{% extends 'base.mention.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block content %}
  <!-- Spinner Start -->
    {% include('_partial/_spinner.html.twig') %}
    <!-- Spinner End -->

    <!-- Navbar Start -->
    {% include('_partial/_navbar.html.twig') %}
    <!-- Navbar End -->

    <!-- Header Start -->
    {% include('_partial/_header.html.twig') %}
    <!-- Header End -->

    {#<!-- Video Modal Start -->
    {% include('_partial/_video_mofal.html.twig') %}
    <!-- Video Modal End -->#}

    {#<main id="main">
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Intro -->
            <section class="intro">
                <header>
                    <h1>Mentions légales</h1>
                    <ul class="actions">
                        <li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
                    </ul>
                </header>
                <div class="content">
                    <span class="image fill" data-position="center"><img src="#" alt="" /></span>
                </div>
            </section>
            <!-- Section -->
            <section id="first">
                <header>
                    <h2>Informations</h2>
                </header>
                <div class="content">
                    <p>Merci de lire avec attention les différentes modalités d’utilisation du présent site avant d’y parcourir ses pages. En vous connectant sur ce site, vous acceptez sans réserves les présentes modalités. Aussi, conformément à l’article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l’économie numérique, le responsable du présent site internet <a href="http://www.jeromesauvage.fr">www.jeromesauvage.fr</a> est :</p>
                    <span class="image main"><img src="#" alt="" /></span>
                </div>
            </section>
            <!-- Section -->
            <section>
                <header>
                    <h2>Edition du Site</h2>
                </header>
                <div class="content">
                    <p><strong>Editeur et développeur du Site :</strong> </p>
                    <ul class="feature-icons">
                        <li class="icon fa-user-circle">Jérôme Sauvage</li>
                        <li class="icon fa-address-card">Seine Saint Denis</li>
                        <li class="icon fa-angle-right">www.jeromesauvage.fr</li>
                        <li class="icon fa-at">jerome.sauvage@etu.unilim.fr</li>
                    </ul>
                    <hr />
                    <p><strong>Responsable éditorial :</strong> </p>
                    <ul class="feature-icons">
                        <li class="icon fa-user-circle">Hébergeur : O2switch</li>
                        <li class="icon fa-address-card">222-224 Boulevard Gustave Flaubert 63000 Clermont-Ferrand</li>
                        <li class="icon fa-angle-right"><a href="http://www.o2switch.fr">www.o2switch.fr</a></li>
                    </ul>
                </div>
            </section>
            <!-- Section -->
            <section>
                <header>
                    <h2>Conditions d’utilisation </h2>
                </header>
                <div class="content">
                    <ul class="alt">
                        <li>
                            <strong>Ce site (<a href="http://www.jeromesauvage.fr">www.jeromesauvage.fr</a>)</strong> est proposé en différents langages web (HTML5, Javascript, CSS, etc…) pour un meilleur confort d'utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Internet explorer, Safari, Firefox, Google Chrome, etc… Les mentions légales ont été générées sur le site <a title="générateur de mentions légales pour site internet gratuit" href="http://www.generateur-de-mentions-legales.com">Générateur de mentions légales</a>,
                            offert par <a title="imprimerie paris, imprimeur paris" href="http://welye.com">Welye</a>.
                        </li>
                    </ul>
                    <hr />
                </div>
            </section>

            <!-- Section -->
            <section>
                <header>
                    <h3>Cookies :</h3>
                </header>
                <div class="content">
                    <ul class="alt">
                        <li>Le site <a href="http://www.jeromesauvage.fr">www.jeromesauvage.fr</a> peut-être amené à vous demander l’acceptation des cookies pour des besoins de statistiques et d'affichage. Un cookies est une information déposée sur votre disque dur par le serveur du site que vous visitez. Il contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte auquel un serveur accède pour lire et enregistrer des informations . Certaines parties de ce site ne peuvent être fonctionnelles sans l’acceptation de cookies.
                        </li>
                    </ul>
                    <hr />
                </div>
            </section>
            <!-- Section -->
            <section>
                <header>
                    <h3>Liens hypertextes :</h3>
                </header>
                <div class="content">
                    <ul class="alt">
                        <li>Les sites internet de peuvent offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet. Jérôme Sauvage ne dispose d'aucun moyen pour contrôler les sites en connexion avec ses sites internet. ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit.
                            Elle ne peut être tenue pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes,
                            et notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments.
                            Les risques liés à cette utilisation incombent pleinement à l'internaute, qui doit se conformer à leurs conditions d'utilisation. Les utilisateurs, les abonnés et les visiteurs des sites internet de ne peuvent mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de Jérôme Sauvage.
                            Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction d’un des sites internet de Jérôme Sauvage, il lui appartiendra d'adresser un email accessible sur le site afin de formuler sa demande de mise en place d'un hyperlien.
                            Jérôme Sauvage se réserve le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.
                        </li>
                    </ul>
                    <hr />
                </div>
            </section>
            <!-- Section -->
            <section>
                <header>
                    <h3>Services fournis :</h3>
                </header>
                <div class="content">
                    <ul class="alt">
                        <li>L'ensemble des activités de la société ainsi que ses informations sont présentés sur notre site <a href="http://www.jeromesauvage.fr">www.jeromesauvage.fr</a>.
                        </li>
                        <li>Jérôme Sauvage s’efforce de fournir sur le site www.jeromesauvage.fr des informations aussi précises que possible. les renseignements figurant sur le site <a href="http://www.jeromesauvage.fr">www.jeromesauvage.fr</a> ne sont pas exhaustifs et les photos non contractuelles.
                            Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne. Par ailleurs, tous les informations indiquées sur le site www.jeromesauvage.fr sont données à titre indicatif, et sont susceptibles de changer ou d’évoluer sans préavis.
                        </li>
                    </ul>
                    <hr />
                </div>
            </section>
            <!-- Section -->
            <section>
                <header>
                    <h3>Limitation contractuelles sur les données :</h3>
                </header>
                <div class="content">
                    <ul class="alt">
                        <li>Les informations contenues sur ce site sont aussi précises que possible et le site remis à jour à différentes périodes de l’année, mais peut toutefois contenir des inexactitudes ou des omissions. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement,
                            merci de bien vouloir le signaler par email, à l’adresse jerome.sauvage@etu.unilim.fr, en décrivant le problème de la manière la plus précise possible (page posant problème, type d’ordinateur et de navigateur utilisé, …).
                        </li>
                        <li>Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.
                            De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour
                        </li>
                        <li>Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de Jérôme Sauvage.
                        </li>
                    </ul>
                    <hr />
                </div>
            </section>
            <!-- Section -->
            <section>
                <header>
                    <h3>Propriété intellectuelle :</h3>
                </header>
                <div class="content">
                    <ul class="alt">
                        <li>Tout le contenu du présent sur le site <a href="http://www.jeromesauvage.fr">www.jeromesauvage.fr</a>, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société à l'exception des marques,
                            logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.
                        </li>
                        <li>Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de Jérôme Sauvage. Cette représentation ou reproduction, par quelque procédé que ce soit,
                            constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur.
                            En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre.
                        </li>
                    </ul>
                    <hr />
                </div>
            </section>
            <!-- Section -->
            <section>
                <header>
                    <h3>Déclaration à la CNIL :</h3>
                </header>
                <div class="content">
                    <ul class="alt">
                        <li>Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel) relative à l'informatique, aux fichiers et aux libertés,
                            ce site a fait l'objet d'une déclaration 1988378 v 0 auprès de la Commission nationale de l'informatique et des libertés (<a href="http://www.cnil.fr/">www.cnil.fr</a>).
                        </li>
                    </ul>
                    <hr />
                </div>
            </section>
            <!-- Section -->
            <section>
                <header>
                    <h3>Litiges :</h3>
                </header>
                <div class="content">
                    <ul class="alt">
                        <li>Les présentes conditions du site <a href="http://www.jeromesauvage.fr">www.jeromesauvage.fr</a> sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation ou de l'exécution de celles-ci seront
                            de la compétence exclusive des tribunaux dont dépend le siège social de la société. La langue de référence, pour le règlement de contentieux éventuels, est le français.
                        </li>
                    </ul>
                    <hr />
                </div>
            </section>
            <!-- Section -->
            <section>
                <header>
                    <h3>Données personnelles :</h3>
                </header>
                <div class="content">
                    <ul class="alt">
                        <li>De manière générale, vous n’êtes pas tenu de nous communiquer vos données personnelles lorsque vous visitez notre site Internet <a href="http://www.jeromesauvage.fr">www.jeromesauvage.fr</a>.
                        </li>
                        <li>Cependant, ce principe comporte certaines exceptions. En effet, pour certains services proposés par notre site, vous pouvez être amenés à nous communiquer certaines données telles que : votre nom, votre fonction, le nom de votre société,
                            votre adresse électronique, et votre numéro de téléphone. Tel est le cas lorsque vous remplissez le formulaire qui vous est proposé en ligne, dans la rubrique « contact ». Dans tous les cas, vous pouvez refuser de fournir vos données personnelles.
                            Dans ce cas, vous ne pourrez pas utiliser les services du site, notamment celui de solliciter des renseignements sur notre société, ou de recevoir les lettres d’information.
                        </li>
                        <li>Enfin, nous pouvons collecter de manière automatique certaines informations vous concernant lors d’une simple navigation sur notre site Internet, notamment : des informations concernant l’utilisation de notre site,
                            comme les zones que vous visitez et les services auxquels vous accédez, votre adresse IP, le type de votre navigateur, vos temps d'accès. De telles informations sont utilisées exclusivement à des fins de statistiques internes,
                            de manière à améliorer la qualité des services qui vous sont proposés. Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.
                        </li>
                    </ul>
                    <hr />
                </div>
            </section>
            <!--section-->
            <section>
                <p class="content">
                <ul class="actions">
                    <li><a href="/" class="button primary large" target="_blank">Retour accueil</a></li>
                </ul>
                </p>
            </section>
        </div>
    </main>#}

{#    <!DOCTYPE html>#}
{#    <html lang="fr">#}
{#    <head>#}
{#        <meta charset="UTF-8">#}
{#        <title>Mentions légales</title>#}
{#    </head>#}
{#    <body style="width: 800px; margin: auto;">#}
{#    <h2>Informations légales</h2>#}

{#    <p style="text-align:center">MENTIONS LEGALES :</p>#}

{#    <p style="text-align:justify">Conformément aux dispositions  des articles 6-III et 19 de la Loi n* 2004-575 du 21 juin 2004 concerçant la Confiance dans l'économie numérique, dite L.C.E.N., nous informons les visiteurs du site internet : <a href="https://jeromesauvage.fr" target="_blank">jeromesauvage.fr</a> Ces informations ci-dessous :</p>#}
{#    <br />#}
{#    <p style="text-align:justify"><strong>1. Déclaration légales :</strong></p>#}


{#    <p style="text-align:justify">Nom du propriétaire : <strong>Jérôme Sauvage</strong><br />#}
{#        Adresse postale du propriétaire : <strong>rue du Bois 50110 - Cherbourg-en-Cotentin</strong><br />#}
{#        <br />#}
{#        Le Développeur du site suivant  : <strong>Sauvage Jérôme</strong><br />#}
{#        Responsable de publication est : <strong>Sauvage Jérôme</strong><br />#}
{#        Par quel moyen joindre le Chef de la publication : <strong>jerome.sauvage@etu.unilm.fr</strong><br />#}
{#        <br />#}
{#        Le Réalisateur est : <strong>Sauvage Jérôme</strong><br />#}
{#        Comment joindre le Développeur : <strong><a href="mailto:jerome.sauvage@etu.unilm.fr?subject=Contact a partir des mentions légales via le site jeromesauvage.fr">jerome.sauvage@etu.unilm.fr</a></strong><br />#}
{#        <br />#}

{#        L'hebergeur du site est : O2Switch<br />#}
{#        SASU au capital social de 100 000 Euros<br />#}
{#        RCS Clermont-Ferrand B 510909807<br />#}
{#        Code APE (INSEE) 6311Z<br />#}
{#        Num. de TVA : FR 35 510 909 807<br />#}
{#        Siège social : 222-224 Boulevard Gustave Flaubert - 63000 Clermont-Ferrand - France<br />#}
{#        <br />#}
{#        <br />#}
{#        Ces Mentions Légales ont été générées via <strong><a href="https://www.generateur-de-mentions-legales.com" target="_blank">le générateur de mentions légales</a></strong><br />#}

{#    <p style="text-align:justify"></p>#}




{#    <p style="text-align:justify"></p>#}
{#    <br />#}
{#    <p style="text-align:justify"><strong>2. Présentation et principe :</strong></p>#}

{#    <p style="text-align:justify">Tout internaute qui se connecte et utilise le site web : <a href="https://jeromesauvage.fr" target="_blank">jeromesauvage.fr</a> est considéré comme usageé du site internet.<br />#}
{#        Le site <strong>jeromesauvage.fr</strong> regroupe plusieurs services, dans l'état, mis à la disposition des usageé. Il est naturellement précisé que ces derniers doivent rester honnête et faire preuve de bonne foi tant envers les différents utilisateurs qu'envers le Réalisateur du site jeromesauvage.fr. Le site jeromesauvage.fr est mis à jour régulièrement par Sauvage Jérôme.<br />#}
{#        Sauvage Jérôme s'efforce de prescrire sur le site jeromesauvage.fr des informations les plus claires possibles (sous réserve de modifications), mais ne peuvent garantir l'exactitude, la complétude et les informations transmises sur son site web, qu'elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations. En répercussion, l'utilisateur reconnaît se servir des informations données  sous son unique responsabilité.</p>#}

{#    <p style="text-align:justify"></p>#}
{#    <br />#}
{#    <p style="text-align:justify"><strong>3. Accessibilité :</strong><br />#}
{#        <br />#}
{#        Le site internet jeromesauvage.fr est par principe accessible aux utilisateurs H24 7/7, sauf en cas d'interruption, programmée ou non, pour les besoins de sa maintenance ou  force majeure. En cas de service indisponible, jeromesauvage.fr s'engage à faire son maximum afin de rétablir l'accès au site web et tentera alors de communiquer préalablement aux utilisateurs informations de l'interruption. N'étant soumis qu'à une redevance de moyen, jeromesauvage.fr ne saurait être tenu comme responsable de tout dommage, quelle qu'en soit sa nature.</p>#}

{#    <p style="text-align:justify"></p>#}
{#    <br />#}
{#    <p style="text-align:justify"><strong>4. Droit de propriété intellectuelle :</strong><br />#}
{#        <br />#}
{#        Sauvage Jérôme est propriétaire unique de l'intégralité des droits de propriété intellectuelle ou détient les droits et autorisations d'usage sur tous les éléments accessibles sur le site web, tant sur la structure que sur les articles et textes, images, graphismes, logo, bande sonore, logiciels…<br />#}
{#        Toute reproduction même partielle du site suivant jeromesauvage.fr, représentation, modification, mis à jour totale ou partielle de l'un  de ces éléments, peu importe le  moyen ou la technique utilisé, est formellementinterdite, sauf autorisation écrite préalable de Sauvage Jérôme, propriétaire du site à l'email : jerome.sauvage@etu.unilm.fr, à défaut elle sera considérée comme constitutive d'une contrefaçon et passible de poursuite conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>#}
{#    Toute reproduction site suivant jeromesauvage.fr, affichage, modification, mis à jour totalement ou partiellement de l'un  de ces éléments, sans tenir compte du  moyen ou le procédé utilisé, est strictementinterdite, sauf acceptation  préalable de Sauvage Jérôme, propriétaire du site internet à l'email : jerome.sauvage@etu.unilm.fr, à défaut elle sera désigné comme constitutive d'une contrefaçon étant passible de poursuite conformément aux dispositions des multiples articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>#}

{#    <p style="text-align:justify"><br />#}
{#        <strong>5. Cookies et Liens Hypertextes :</strong><br />#}
{#        <br />#}
{#        Le site internet jeromesauvage.fr possède un certain nombre de liens cliquable vers d'autres sites (partenaires, sites sources .) mis en ligne avec la validation de Sauvage Jérôme<a href="https://www.generateur-de-mentions-legales.com/" style="text-decoration:none"><font color="#000000">.</font></a> Néanmoins, Sauvage Jérôme ne peut pas sécuriser l'intégralité du contenu des différents sites ainsi consultés et rejette donc l'entière responsabilité de ce fait quand aux risques de contenus illicites.<br />#}
{#        L'usager est donc informé que lors de ses navigation sur le site suivant jeromesauvage.fr, un ou plusieurs cookies peuvent s'installer mécaniquement sur son ordinateur via son logiciel de navigation. Un cookie c'est un ensemble de données informatique qui ne permettra pas d'identifier l'utilisateur, néanmoins qui note des données relatives à la navigation de l'usager sur le site interne. <br />#}
{#        La configration du logiciel de navigation tolère de renseigner de la présence de cookie et éventuellement, de pouvoir la contester de la manière décrite à cette adresse  : <a href="https://www.jeromesauvage.fr">www.jeromesauvage.fr</a>. L'utilisateur peut toutefois de paramétrer le navigateur de son ordinateur pour contester la mise en place des cookies, étant conscient que le rebut d'installation d'un cookie pourrait potentiellement entraîner l'incapacité d'accéder à différents services. Concernant tout blocage de cookies, recherchez dans un outil de recherche : blocage des cookies et suivez les instructions en rapport avec votre version de navigateur.</p>#}

{#    <strong>6. Protection des personnes et biens - Gestion des données personnelles :</strong><br />#}
{#    <br />#}
{#    En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978 et la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal ainsi que la Directive Européenne du 24 octobre 1995.</p>#}

{#    <p style="text-align:justify">Sur le site jeromesauvage.fr, Sauvage Jérôme ne collecte pas d'informations personnelles ( suivant l'article 4 loi n°78-17 du 06 janvier 1978) concernant l'usager que pour le besoin de différents services mis à disposition par le site web jeromesauvage.fr. L'utilisateur donne les informations en pleine conscience de cause, notamment lorsqu'il effectue par lui-même à leur saisie. Il est alors résumé à l'usagé du site web jeromesauvage.fr le devoir ou pas de mentionner ces données.<br />#}
{#        Conformément aux dispositifs des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 concernant l'informatique, les fichiers et aux différentes libertés, n'importe quel utilisateur possède un droit d'accès aux informations, de rectification, de suppression et d'opposition aux informations personnelles qui le concerne. Pour l'exercer, adressez une requête à jeromesauvage.fr par email : <strong><a href="mailto:jerome.sauvage@etu.unilm.fr?subject=Contact à partir des mentions légales via le site jeromesauvage.fr">jerome.sauvage@etu.unilm.fr</a></strong> ou alors par écrit  signée, jointe d'une copie de pièce d'identité ainsi qu'une signature du titulaire du document, en précisant l'adresse à laquelle la réponse devra être retournée.</p>#}

{#    <p style="text-align:justify">Sans information personnelle de l'utilisateur du site interne jeromesauvage.fr n'est publiée sans consentemment de l'utilisateur, troquée, transférée, vendue sur un support quelconque à des groupes. Uniquement l'hypothèse de la vente du site suivant jeromesauvage.fr et de tout ses droits autorise Sauvage Jérôme à céder les dites informations  à l' acquéreur qui serait alors à son tour tenu à la même nécéssité de conservation et de modification des données vis à vis de l'utilisateur du site jeromesauvage.fr.<br />#}
{#        Le site suivant jeromesauvage.fr est en conformité avec le RGPD voir notre politique RGPD https://jeromesauvage.fr/politique-de-confidentialité.</p>#}

{#    <p style="text-align:justify">Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant ainsi la directive 96/9 du 11 mars 1996 concernant la protection juridique des BDD (bases de données).</p>#}

{#    </body>#}
{#    </html>#}
{#
    <div class="container my-6">
        <h1 class="section-title">Mentions Légales</h1>

        <section id="declaration-legales">
            <h2 class="section-title">1. Déclaration légales</h2>
            <div class="section-content">
                <p>Propriétaire : Jérôme Sauvage</p>
                <p>Adresse : Rue du Bois 50110 - Cherbourg-en-Cotentin</p>
                <p>Créateur : Sauvage Jérôme</p>
                <p>Responsable de publication : Sauvage Jérôme - <a href="mailto:jerome.sauvage@etu.unilm.fr">jerome.sauvage@etu.unilm.fr</a></p>
                <p>Webmaster : Sauvage Jérôme - <a href="mailto:jerome.sauvage@etu.unilm.fr">jerome.sauvage@etu.unilm.fr</a></p>
                <p>Hébergeur : O2Switch, SASU au capital de 100 000 Euros, RCS Clermont-Ferrand B 510909807, Siège social : 222-224 Boulevard Gustave Flaubert - 63000 Clermont-Ferrand - France</p>
            </div>
        </section>

        <section id="presentation-principe">
            <h2 class="section-title">2. Présentation et principe</h2>
            <div class="section-content">
                <p>Tout utilisateur qui se connecte et utilise le site jeromesauvage.fr est considéré comme utilisateur du site. Le site regroupe plusieurs services, en l'état, disponibles pour les utilisateurs. Ces derniers doivent rester courtois et faire preuve de bonne foi tant envers les autres utilisateurs qu'envers le Webmaster du site jeromesauvage.fr.</p>
            </div>
        </section>

        <section id="accessibilite">
            <h2 class="section-title">3. Accessibilité</h2>
            <div class="section-content">
                <p>Le site jeromesauvage.fr est en principe accessible aux utilisateurs 24/7, sauf en cas d'interruption, programmée ou non, pour les besoins de maintenance ou en cas de force majeure. En cas d'impossibilité d'accès au service, jeromesauvage.fr s'efforcera d'informer les utilisateurs préalablement des dates et heures de l'intervention.</p>
            </div>
        </section>

        <section id="propriete-intellectuelle">
            <h2 class="section-title">4. Propriété intellectuelle</h2>
            <div class="section-content">
                <p>Sauvage Jérôme est propriétaire exclusif de tous les droits de propriété intellectuelle ou détient les droits d'usage sur tous les éléments accessibles sur le site jeromesauvage.fr, tant sur la structure que sur les textes, images, graphismes, logo, sons, logiciels, etc. Toute reproduction totale ou partielle du site est interdite, sauf autorisation écrite préalable de Sauvage Jérôme.</p>
            </div>
        </section>

        <section id="liens-cookies">
            <h2 class="section-title">5. Liens hypertextes et cookies</h2>
            <div class="section-content">
                <p>Le site jeromesauvage.fr contient des liens hypertextes vers d'autres sites, mis en place avec l'autorisation de Sauvage Jérôme. Cependant, il n'a pas la possibilité de vérifier le contenu des sites visités et décline toute responsabilité quant aux risques éventuels de contenus illicites. L'utilisateur est informé qu'un ou plusieurs cookies peuvent s'installer automatiquement sur son ordinateur.</p>
            </div>
        </section>

        <section id="protection-donnees">
            <h2 class="section-title">6. Protection des biens et des personnes</h2>
            <div class="section-content">
                <p>En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978 et la loi n° 2004-801 du 6 août 2004. Sauvage Jérôme ne collecte des informations personnelles relatives à l'utilisateur que pour certains services proposés par le site jeromesauvage.fr. L'utilisateur dispose d'un droit d'accès, de rectification et d'opposition aux données personnelles le concernant.</p>
            </div>
        </section>
    </div>#}

    <div class="container-xxl py-6 pb-5" id="skill">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="display-5 mb-5">Mentions Légales</h1>

                    <!-- Début des informations légales -->

                    <p class="mb-4"><strong>Conformément aux obligations</strong> de l'article 6-III et 19 de la Loi numéro 2004-575 du 21 juin 2004 relative à la Confiance dans l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs du site : jeromesauvage.fr les informations ci-jointes :</p>

                    <h2>1. Déclaration légale</h2>
                    <p><strong>Propriétaire</strong> : Jérôme Sauvage</p>
                    <p><strong>Adresse</strong> : Rue du Bois, 50110 - Cherbourg-en-Cotentin</p>
                    <p><strong>Créateur</strong> : Sauvage Jérôme</p>
                    <p><strong>Responsable de publication</strong> : Sauvage Jérôme</p>
                    <p><strong>Contact Responsable</strong> : jerome.sauvage@etu.unilm.fr</p>

                    <h2>2. Présentation et principe</h2>
                    <p>Tout internaute se connectant et utilisant le site jeromesauvage.fr est considéré comme utilisateur du site. Le site regroupe des services qui doivent être utilisés de manière courtoise, en respectant les autres utilisateurs et le webmaster. Le contenu est régulièrement mis à jour par Jérôme Sauvage.</p>

                    <h2>3. Accessibilité</h2>
                    <p>Le site jeromesauvage.fr est accessible 24/24h et 7/7j, sauf en cas de maintenance ou de force majeure. En cas d'indisponibilité, des efforts seront faits pour rétablir l'accès rapidement.</p>

                    <h2>4. Propriété intellectuelle</h2>
                    <p>Tous les éléments du site (structure, textes, images, sons) sont la propriété exclusive de Jérôme Sauvage. Toute reproduction est interdite sans autorisation écrite préalable.</p>

                    <h2>5. Liens hypertextes et cookies</h2>
                    <p>Le site contient des liens vers d'autres sites, mais Jérôme Sauvage ne peut vérifier le contenu des sites externes et décline toute responsabilité. Des cookies peuvent s'installer automatiquement lors de la navigation. Vous pouvez configurer votre navigateur pour les bloquer.</p>

                    <h2>6. Gestion des données personnelles</h2>
                    <p>Les données personnelles sont protégées par les lois françaises. Aucun renseignement personnel n'est collecté sans l'accord explicite de l'utilisateur. Conformément à la loi, vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant en contactant : jerome.sauvage@etu.unilm.fr.</p>

                    <p>Pour plus d'informations, consultez notre <a href="https://jeromesauvage.fr/politique-de-confidentialité">politique de confidentialité</a>.</p>

                    <!-- Fin des informations légales -->
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright Start -->
    {% include('_partial/_copyright.html.twig') %}
    <!-- Copyright End -->

    <!-- Back to Top -->
    {% include('_partial/_backtoptop.html.twig') %}

{% endblock %}