{% extends 'mail/_layout.html.twig' %}

{% block title %}Demande d'information{% endblock %}

{% block body %}
    <div style="margin-top: 20px">
        <p style="text-align: left;">
            Détail de la demande :<br/><br/>
            Nom: {{ data.name }}<br/>
            Email: {{ data.email }}<br/>
            Sujet : {{ data.subject }}<br/>
            Message: <br/>
            {{ data.message }}
        </p>
    </div>
{% endblock %}