<div class="container-fluid footer text-white py-4">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center"> <!-- Modification ici -->
            <div class="col-md-4 text-center mb-3 mb-md-0">
                <a class="border-bottom text-secondary" href="#">Jérôme Sauvage</a>, <a>All Right Reserved.</a>
            </div>
            <div class="col-md-4 text-center mb-3 mb-md-0">
                <div class="footer-links">
                    <a class="text-white important-link" href="#">Plan du site</a>
                    <a class="text-white important-link" href="{{ path('app_mention') }}">Mentions légales</a>
                    <a class="text-white important-link" href="{{ path('app_politique') }}">Politique de confidentialité</a>
                </div>
            </div>
            <div class="col-md-4 text-center text-md-end">
                <a>Designed By</a> <a class="border-bottom text-secondary" href="https://htmlcodex.com">HTML Codex</a>
                <br><a>Distributed By:</a> <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
            </div>
        </div>
    </div>
</div>