<div class="container-xxl py-6 pb-5" id="skill">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-5">Formations et Expériences</h1>
                <p class="mb-4">Administrateur réseau depuis plus de dix ans, passionné par les nouvelles technologies, j’ai élargi mes compétences au développement web.</p>
                <p class="mb-4">En 2013, j’ai repris mes études pour acquérir un savoir-faire technique et opérationnel à travers divers projets personnels, académiques et professionnels.</p>
                <p class="mb-4">Toujours curieux et en quête de nouvelles connaissances, je débute actuellement une formation en cybersécurité pour renforcer mes compétences en protection des infrastructures et données.</p>
                <p class="mb-4">J’apprécie le travail en équipe, le respect des bonnes pratiques, et l’innovation. À l’écoute de nouvelles opportunités, je souhaite mettre mon sens de l’écoute, mon esprit de partage et ma rigueur au service de votre organisation.</p>
                <div class="d-flex align-items-center pt-5">
                    <a href="" class="btn btn-primary py-3 px-4 me-5">Télécharger mon CV</a>
                </div>
            </div>

            <!-- Onglets Expériences et Formations -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <ul class="nav nav-pills rounded border border-2 border-primary mb-5">
                    <li class="nav-item w-50">
                        <button class="nav-link w-100 py-3 fs-5 active" data-bs-toggle="pill" href="#tab-1">Expériences</button>
                    </li>
                    <li class="nav-item w-50">
                        <button class="nav-link w-100 py-3 fs-5" data-bs-toggle="pill" href="#tab-2">Formations</button>
                    </li>
                </ul>

                <!-- Contenu des onglets -->
                <div class="tab-content">
                    <!-- Tab Expériences -->
                    <div id="tab-1" class="tab-pane fade show active p-0">
                        <div class="timeline">
                            <div class="timeline-bar"></div>
                            <div class="timeline-item">
                                <div class="text-primary mb-1 text-break">2021 - Présent</div>
                                <h5>Responsable informatique / Développeur web</h5>
                                <span>Fonction publique, Cherboug-en-Cotentin</span>
                                <h6 class="text-dark">Technicien de proximité</h6>
                                <ul>
                                    <li>Contrôle, audit et paramétrage des postes, serveurs locaux, serveurs
                                        départementaux et réseaux locaux</li>
                                    <li>Contrôle et audit configuration des postes, serveurs locaux de ressources, serveurs
                                        départementaux et réseaux locaux</li>
                                    <li>Mise à jour ou à niveau des équipements et traitements des dysfonctionnements et des incidents</li>
                                    <li>Surveillance de la sécurité des systèmes et des réseaux informatiques</li>
                                    <li>Mise en conformité au règlement européen sur la protection des données des activités du service</li>
                                    <li>Autorité de délivrance de cartes professionnelles du service</li>
                                    <li>Réalisation de la documentation des processus de mise en oeuvre, de mise à jour et
                                        d’exploitation des composants</li>
                                    <li>Surveillance de la sécurité des systèmes et des réseaux informatiques</li>
                                </ul>
                                <h6 class="text-dark">Développeur web</h6>
                                <ul>
                                    <li>Référent web pour intranet et applications web utilisées par la zone Ouest</li>
                                    <li>Développement de l’intranet local sur Symfony</li>
                                    <li>Support de la mise en production des applications nationales</li>
                                </ul>
                            </div>
                            <div class="timeline-item">
                                <div class="text-primary mb-1 text-break">2009 - 2020</div>
                                <h5>Informaticien / Développeur web</h5>
                                <span>ESCG Paris, Paris</span>
                                <h6 class="text-dark">Informaticien</h6>
                                <ul>
                                    <li>Cloud computing : configuration et déploiement du domaine avec Google</li>
                                    <li>Administration et Maintenance du réseau et du parc informatique</li>
                                    <li>Déploiement et administration de Windows Server 2008 et configuration VPN</li>
                                    <li>Téléphonie VOIP : déploiement avec Orange Business Service</li>
                                    <li>Assistance aux utilisateurs</li>
                                </ul>
                                <h6 class="text-dark">Développeur web</h6>
                                <ul>
                                    <li>Mise en place d’un environnement numérique de travail</li>
                                    <li>Développement d’une application documentaire basée sur Symfony</li>
                                    <li>Création d’un site WordPress pour un programme de spécialisation en marketing digital</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Tab Formations -->
                    <div id="tab-2" class="tab-pane fade p-0">
                        <div class="timeline">
                            <div class="timeline-bar"></div>
                            <div class="timeline-item">
                                <div class="text-primary mb-1">2018 - 2020</div>
                                <h5>Titre RNCP niveau 6 (BAC+3/4) - Développeur d'application</h5>
                                <span>OpenClassrooms</span>
                                <p>Formation axée sur le développement d’applications avec des projets réels, apprentissage des bonnes pratiques de code et de gestion de projet.</p>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-date text-primary mb-1">2016 - 2017</div>
                                <h5>Licence Professionnelle (BAC+3) - Métiers de l'informatique</h5>
                                <span>Université de Limoges</span>
                                <p>Spécialisation en administration réseau et développement d’infrastructures IT, incluant la gestion de projets et la cybersécurité.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
