<div class="container-fluid bg-light my-6 mt-0" id="home">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 py-6 pb-0 pt-lg-0">
                <h3 class="text-primary mb-3"></h3>
                <h1 class="display-3 mb-3">Mentions légales</h1>
                <h2 class="typed-text-output d-inline"></h2>
                <div class="d-flex align-items-center pt-5">
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="{{ asset('assets/img/header_mention_500x500.png') }}" alt="header mention">
            </div>
        </div>
    </div>
</div>
