<div class="container-fluid bg-light my-5 py-6" id="service">
    <div class="container">
        <!-- Header Section -->
        <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">Compétences Techniques</h1>
            </div>
            <div class="col-lg-6 text-lg-end">
                <a class="btn btn-primary py-3 px-5" href="">Me contacter</a>
            </div>
        </div>

        <!-- Services and Tools Section -->
        <div class="row g-4">
            <!-- Service 1: UML -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded shadow h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3 circle">
                        <i class="fa fa-sitemap fa-2x"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Conception UML</h4>
                        <span>Maîtrise de la conception d’architectures techniques à l’aide de diagrammes UML,
                            facilitant la structuration et l’organisation des composants d’une application
                            pour garantir une meilleure lisibilité et évolutivité des projets.
                        </span>
                        <ul class="mt-3 service-list">
                            <li><i class="fa fa-sitemap text-primary me-2"></i>StartUML - PlantUML</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Service 2: Base de données -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded shadow h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3 circle">
                        <i class="fa fa-database fa-2x"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Base de données</h4>
                        <span>Communiquer avec une base de données pour stocker et
                            requêter des informations de manière efficace et sécurisée.
                        </span>
                        <ul class="mt-3 service-list">
                            <li><i class="fa fa-database text-primary me-2"></i>MySQL - PostgreSql</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Service 3: Développement front end -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded shadow h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3 circle">
                        <i class="fa fa-file-code fa-2x"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Développement frontend</h4>
                        <span>Intégration de maquettes et templates
                            pour transformer des conceptions en interfaces web réactives et
                            performantes, tout en respectant les normes d'accessibilité et
                            de compatibilité entre navigateurs.
                        </span>
                        <ul class="mt-3 service-list">
                            <li><i class="fab fa-html5 text-primary me-2"></i>HTML</li>
                            <li><i class="fab fa-css3 text-primary me-2"></i>CSS</li>
                            <li><i class="fab fa-bootstrap text-primary me-2"></i>Bootstrap</li>
                            <li><i class="fab fa-js text-primary me-2"></i>javascript</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Service 4: Développement backend -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded shadow h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3 circle">
                        <i class="fa fa-code fa-2x"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Développement backend</h4>
                        <span>Conception et développement d’applications web robustes, évolutives
                            et sécurisées en suivant les bonnes pratiques de développement backend,
                            tout en assurant la performance et la sécurité.
                        </span>
                        <ul class="mt-3 service-list">
                            <li><i class="fa fa-code text-primary me-2"></i>Symfony</li>
                            <li><i class="fab fa-php text-primary me-2"></i>PHP</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Service 5: Tests unitaires et fonctionnels -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded shadow h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3 circle">
                        <i class="fa fa-check-circle fa-2x"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Tests unitaires, fonctionnels et monitoring</h4>
                        <span>Implémentation de tests unitaires et fonctionnels pour garantir la qualité
                            et la stabilité des applications. Grâce à des outils comme Blackfire,
                            les performances sont surveillées en temps réel,
                            permettant de détecter les bugs et d’optimiser les ressources.
                        </span>
                        <ul class="mt-3 service-list">
                            <li><i class="fa fa-vial text-primary me-2"></i>PHPUnit - PHPStan</li>
                            <li><i class="fas fa-poll text-primary me-2"></i>Blackfire</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Service 6: Administration réseau -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded shadow h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3 circle">
                        <i class="fa fa-network-wired fa-2x"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Administration réseau & systèmes</h4>
                        <span>Gestion d’un parc informatique et de systèmes de téléphonie sur IP,
                            en assurant l’installation, la configuration et
                            la maintenance des serveurs pour garantir une continuité de service optimale.
                        </span>
                        <ul class="mt-3 service-list">
                            <li><i class="fab fa-linux text-primary me-2"></i>Linux</li>
                            <li><i class="fas fa-server text-primary me-2"></i>Proxmox - Windows Server - Docker</li>
                            <li><i class="fab fa-windows text-primary me-2"></i>Windows 10 / 11</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Service 7: Workflow -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded shadow h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3 circle">
                        <i class="fa fa-toolbox fa-2x"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Workflow</h4>
                        <span>Utilisation d’outils de développement avancés pour assurer une mise en production fluide,
                            ainsi que des logiciels de création graphique, d'intelligence artificielle et
                            de gestion de contenu pour optimiser les processus de développement.
                        </span>
                        <ul class="mt-3 service-list">
                            <li><i class="fas fa-tools text-primary me-2"></i>Suite JetBrains</li>
                            <li><i class="fas fa-images text-primary me-2"></i>Photoshop / Illustrator</li>
                            <li><svg class="bi text-primary me-2"><use href="#chatgpt-icon"></use></svg></i>ChatGPT</li>
                            <li><i class="fab fa-wordpress text-primary me-2"></i>WordPress</li>
                            <li><i class="fab fa-joomla text-primary me-2"></i>Joomla</li>

                        </ul>
                    </div>
                </div>
            </div>

            <!-- Service 8: Support utilisateur -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded shadow h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3 circle">
                        <i class="fa fa-headset fa-2x"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Support utilisateur</h4>
                        <span>Fourniture d’un support utilisateur efficace
                            pour résoudre rapidement les incidents techniques et
                            garantir une expérience fluide dans l’utilisation des outils informatiques
                            et des systèmes téléphoniques.
                        </span>
                        <ul class="mt-3 service-list">
                            <li><i class="fa fa-phone text-primary me-2"></i>Gestion de la téléphonie IP</li>
                            <li><i class="fas fa-user-plus text-primary me-2"></i>Support et accompagnement utilisateurs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


